.list_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.list_header > h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #212529;
}

.list_header > div {
  display: flex;
  gap: 16px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 16px;
  border: solid 2px #e9ecef;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #343a40;
  background-color: #e9ecef;
  transition: 0.3s;
}

.list > ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
}

.nothing {
  font-size: 22px;
  font-weight: 700;
  color: #343a40;
}

.nothing > img {
  margin-top: 24px;
}

.active {
  color: #ffffff;
  background-color: #fd377e;
}

@media screen and (min-width: 940px) {
  .list_header {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .list {
    width: 50%;
  }

  .list_header > div button:hover {
    color: #e9ecef;
    background-color: #343a40;
  }
}
