.total_money {
  height: 96px;
  padding: 20px 24px;
  border: solid 2px #e9ecef;
  border-radius: 8px;
}

.total_money > div {
  display: flex;
  justify-content: space-between;
}

.total_money > div > p {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #212529;
}

.total_money > div > span {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #fd377e;
}

.total_money > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #343a40;
}
